global
  maxconn 2048

 defaults
  mode http
  timeout connect 2s
  timeout client 10s
  timeout server 10s
  option httplog

frontend app_front
  bind *:8081
  default_backend app_nodes

backend app_nodes
  balance roundrobin
  option httpchk GET /healthz
  http-check expect status 200
  server backend1 backend1:8000 check inter 2s fall 2 rise 2
  server backend2 backend2:8000 check inter 2s fall 2 rise 2

listen stats
  bind *:8404
  stats enable
  stats uri /stats
